/* panes */
.pane_container{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat( var(--grid-total-columns), 1fr);
    gap: var(--general-spacing);
    z-index: 2;
}

.pane{
  height: 100%;
  background-color: #E1E4E3;
}

/*12 col rules*/
.pane:nth-of-type(1), .pane:nth-of-type(3), .pane:nth-of-type(5){
 grid-column: span 2;
}

.pane:nth-of-type(2){
 grid-column: span 1;
}

.pane:nth-of-type(4){
 grid-column: span 5;
 background-image: linear-gradient(to top right, #CBD4D6, #E1E4E3);
}


@media (max-width: 1054px) {

  /*8 col rules*/
  .pane:nth-of-type(1), .pane:nth-of-type(3), .pane:nth-of-type(5){
    grid-column: span 1;
  }

  .pane:nth-of-type(2){
    grid-column: span 2;
  }

  .pane:nth-of-type(4){
    grid-column: span 3;
  }

.strap{
  font-size: 64px;
}

}

@media (max-width: 768px) {

/* 6 col rules*/
.pane:nth-of-type(1), .pane:nth-of-type(3), .pane:nth-of-type(5){
 grid-column: span 1;
}

.pane:nth-of-type(2){
 display: none;
}

.pane:nth-of-type(4){
 grid-column: span 3;
}
}

/* shapes */
.shape-wrapper {
      position: absolute;
      filter: 
        blur(10px)
        drop-shadow(0 0 40px rgba(255, 255, 255, 0.8))
        drop-shadow(0 0 80px rgba(255, 255, 255, 0.6))
        drop-shadow(0 0 120px rgba(255, 255, 255, 0.4));
    }

    .shape {
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.6);
    }

    .shape-wrapper1 {
      width: 800px;
      height: 700px;
      top: 15%;
      left: 5%;
      animation: drift1 20s ease-in-out infinite;
    }

    .shape-wrapper2 {
      width: 750px;
      height: 650px;
      top: 50%;
      left: 60%;
      animation: drift2 25s ease-in-out infinite;
    }

    .shape2 {
      clip-path: polygon(20% 0%, 100% 0%, 80% 100%, 0% 100%);
    }

    .shape-wrapper3 {
      width: 780px;
      height: 980px;
      top: 30%;
      left: 70%;
      animation: drift3 18s ease-in-out infinite;
    }

    .shape3 {
      clip-path: polygon(0% 20%, 80% 0%, 100% 80%, 20% 100%);
    }

    @keyframes drift1 {
      0%, 100% {
        transform: translate(0, 0) rotate(0deg);
      }
      25% {
        transform: translate(100px, -50px) rotate(90deg);
      }
      50% {
        transform: translate(150px, 80px) rotate(180deg);
      }
      75% {
        transform: translate(-50px, 100px) rotate(270deg);
      }
    }

    @keyframes drift2 {
      0%, 100% {
        transform: translate(0, 0) rotate(0deg);
      }
      33% {
        transform: translate(-120px, -80px) rotate(120deg);
      }
      66% {
        transform: translate(-80px, 60px) rotate(240deg);
      }
    }

    @keyframes drift3 {
      0%, 100% {
        transform: translate(0, 0) scale(1);
      }
      50% {
        transform: translate(-150px, -100px) scale(1.2);
      }
    }