* {
  box-sizing: border-box;
}

:root {
--nav-height: 170px;
/*--header-font: 'Space Mono', monospace;*/
--header-font: 'Arial', sans-serif;
/*--lead-font: 'Trispace', sans-serif;*/
--lead-font: 'Arial', sans-serif;
--highlight-colour: rgba(0,0,0,0.5);
--hero-bg: rgba(229,229,229,0.9);
--general-spacing: 16px;
--general-divider: rgba(0,0,0,0.2);
--max-content-width: 1600px;
--layout-columns: repeat(var(--grid-total-columns), 1fr); /*getting layout to match grid defined below so when it adapts only change in one place*/

/*using css vars to dynamically calculate responsive grid styling*/
--grid-border-colour: #E89CC9;
--grid-total-columns: 12;
--grid-border-width: 1px; 
--grid-borders-per-column: calc(var(--grid-border-width) * 2); 
--grid-gap-total: calc(var(--grid-borders-per-column) + var(--general-spacing)); 
--grid-total-borders: calc(var(--grid-total-columns) * var(--grid-borders-per-column));
--grid-total-gaps: calc((var(--grid-total-columns) - 1) * var(--general-spacing));
--grid-column-width: calc((100% - var(--grid-total-borders) - var(--grid-total-gaps)) / var(--grid-total-columns));
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
}

.centred{
  margin: auto;
  width: 100%;
  max-width: var(--max-content-width);
}

/* Grid overlay, uses var calcs from :root */
body::before {
content: '';
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
pointer-events: none;
z-index: 1;
opacity: 0.2;

background-image: repeating-linear-gradient(
  to right,
  var(--grid-border-colour),
  var(--grid-border-colour) var(--grid-border-width),
  transparent var(--grid-border-width),
  transparent calc(var(--grid-border-width) + var(--grid-column-width)),
  var(--grid-border-colour) calc(var(--grid-border-width) + var(--grid-column-width)),
  var(--grid-border-colour) calc(var(--grid-borders-per-column) + var(--grid-column-width)),
  transparent calc(var(--grid-borders-per-column) + var(--grid-column-width)),
  transparent calc(var(--grid-gap-total) + var(--grid-column-width))
);

/* Match container padding */
  background-size: min(calc(100% - var(--general-spacing) * 2), var(--max-content-width)) 100%;
  background-position: center top;
  background-repeat: no-repeat;
}

/*typography*/

.pagehead{
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 120px;
  color: rgba(0,0,0,0.9);
  letter-spacing: -4px;
  margin-bottom: calc( var(--general-spacing) * 2 );
}

/* animating the headers on page load*/
.pagehead span {
  display: inline-block;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeUp 0.8s ease-out forwards;
}

.pagehead span:nth-of-type(1) {
  animation-delay: 0.2s;
}

.pagehead span:nth-of-type(2) {
  animation-delay: 0.5s;
}

.pagehead span:nth-of-type(3) {
  animation-delay: 0.8s;
}

.pagehead span.mini{
  color: rgba(0,0,0,0.1);
  /*
  font-size: 60px;
  letter-spacing: normal;
  */
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.lead{
  font-family: var(--lead-font);
  font-weight: bold;
  font-size: 36px;
}

p.body{
  font-size: 16px;
  line-height: 22px;
  margin-bottom: calc( var(--general-spacing) / 2);
}

/* nav stuff */

/*overall structure*/

nav {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: rgba(0,0,0,0);
  height: var(--nav-height);
  z-index: 100;
  font-size: 13px;
  padding-left: var(--general-spacing);
  padding-right: var(--general-spacing);
  
  /* Scroll-driven animation */
  animation: shrink-nav linear forwards;
  animation-timeline: scroll();
  animation-range: 0 var(--nav-height);
}

@keyframes shrink-nav {
  to {
    height: 50px;
    background-color: rgba(229,229,229,0.5);
  }
}

nav .centred{
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  padding-top: var(--general-spacing);
  padding-bottom: var(--general-spacing);
  height: 100%;
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav ul li{
  margin-left: var(--general-spacing);
  display: flex;
  flex-direction: column;
  min-width: 100px;
}

nav ul li:last-of-type{
  min-width: auto;
}

/*logo*/

#logo{
  position: relative;
  padding-left: 16px;
  margin-left: -16px;
  font-weight: medium;
  font-size: 18px;
}

#logo .mark{
  letter-spacing: -1px;
  font-weight: bold;
}

/*hiding the 'incubator...' text*/
#logo .hider{
  animation: texttoggle linear forwards;
  animation-timeline: scroll();
  animation-range: 0 80px;
  display: block;
}

@keyframes texttoggle {
  to {
    opacity: 0;
    margin-top: -10px;
  }
}

/*for border and tab animations*/
#logo::before{
  box-sizing: border-box;
  content: 'i.AI';
  color: white;
  position: absolute;
  text-indent: 16px;
  padding-top: 8px;
  font-weight: bold;
  letter-spacing: -1px;
  top: 0;
  left: 0;
  height: 52px;
  width: 3px;
  background-color: black;
  overflow: hidden;
  animation: bordertoggle linear forwards;
  animation-timeline: scroll();
  animation-range: 0 200px;
}

@keyframes bordertoggle {
  0% {
    top: 0;
    height: 52px;
    left: 0;
    width: 3px;
  }
  66.67% {
    top: -8px;
    height: 34px;
    left: 0;
    width: 3px;
  }
  100% { 
    top: -8px;
    height: 34px;
    width: 48px;
  }
}

/*sub nav*/
nav ul li ul{
  display: flex;
  flex-direction: column;
}

nav ul li ul li{
  margin-left: 0;
  margin-top: calc( var(--general-spacing) / 2 );
  opacity: 0.5;
  animation: hide-subs linear forwards;
  animation-timeline: scroll();
  animation-range: 0 80px;
}

@keyframes hide-subs {
  to {
    margin-top: -4px;
    opacity: 0;
  }
}

/* collapsing menu for mobile */

/* Hide the checkbox */
#menu-toggle {
  display: none;
}

.menu-button {
  display: none;
  cursor: pointer;
  border: none;
}

  @media (max-width: 768px) {
  /* Show the menu button */
  .menu-button {
    display: block;
  }

  /* Hide menu items by default */
  .menu-items {
    display: none;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }

  /* Show menu when checkbox is checked */
  #menu-toggle:checked ~ .menu-items {
    display: flex;
  }

}

/* end nav stuff */

/* hero stuff */

.hero-container{
  position: relative;
  display: grid;
  width: 100%;
  overflow: clip;
  margin-top: calc( var(--nav-height) * -1 );
  /*background-color: var(--hero-bg);*/
}

.hero{
  grid-area: 1 / 1;
  width: 100%;
  height: 100%;
}

.bg{
  opacity: 0.7;
}

.fg{
  padding: var(--general-spacing);
  padding-top: var(--nav-height);
  padding-bottom: calc( var(--general-spacing) * 2 );
  z-index: 3;
}

.quote{
  opacity: 0.5;
  font-size: 14px;
  padding-top: var(--general-spacing);
  font-family: monospace;
}

.quote p{
  margin-bottom: calc( var(--general-spacing) / 2);
}

.uno{
  flex: 3; 
  order: 1;
}

.dos{
  order: -1;
}

/* end hero stuff */

/* content stuff */

.content-container{
  width: 100%;
  z-index: 3;
}

.content-grid {
  width: 100%;
  padding: var(--general-spacing);
}

.content-slice{
  width: 100%;
  display: grid;
  grid-template-columns: var(--layout-columns);
  grid-template-rows: min-content 1fr; /* row 1 = smallest content, row 2 = fills space */
  column-gap: var(--general-spacing);
  row-gap: 0;
  margin-top: calc( var(--general-spacing) * 2 );
  align-items: start;
}

.content-slice.project{
  border-bottom: 1px solid var(--general-divider);
  padding-bottom: var(--general-spacing);
}

/*some generic rules for column widths regardless of column numbers so I don't have to give everything a rule*/

/* full width */

.content-slice .col.full{
  grid-column: span var(--grid-total-columns);
}

.content-slice .col.threequarters{
  grid-column: span calc( ( var(--grid-total-columns) / 4 ) * 3 );
}

.content-slice .col.half{
  grid-column: span calc( var(--grid-total-columns) / 2 );
}

.content-slice .col.third {
  grid-column: span calc( var(--grid-total-columns) / 3 );
}

.content-slice .col.quarter, .content-slice .col{
  grid-column: span calc( var(--grid-total-columns) / 4 );
}

/*project pages*/

.content-slice .col.project-intro{
  grid-column: span 3;
  grid-row: 1;
}

.content-slice .col.project-text{
  grid-column: span 4;
  grid-row: 1 / span 2;
}

.content-slice .col.project-media{
  grid-column: span 5;
  grid-row: 1 / span 2;
}

.content-slice .col.project-latest {
  grid-column: 1 / span 3;
  grid-row: 2;
  border-top: 1px solid var(--general-divider);
  padding-top: var(--general-spacing);
}

.content-slice .col.project-latest p{
  font-size: 14px;
  display: list-item;
  margin-left: var(--general-spacing);
  list-style-type: circle;
  margin-bottom: 4px;
  line-height: 16px;
  opacity: 0.6;
}

.content-slice .col.project-latest p:nth-of-type(1){
  opacity: 1;
  list-style-type: disc;
  font-weight: bold;
  text-transform: uppercase;
}
  

.col img, .col video{
  width: 100%;
  margin-bottom: 16px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.col.graphic{
  padding: var(--general-spacing);
  padding-left: 33%;
  background-image: linear-gradient(to top right, rgba(220,232,236, 1), rgba(255,255,255, 0.1));*/
}

.col .lead{
  margin-bottom: var(--general-spacing);
}

.meta{
  margin-top: var(--general-spacing);
  border-top: 1px solid var(--general-divider);
  padding-top: calc( var(--general-spacing) / 2);
}

.meta p{
  width: 100%;
  font-size: 14px;
  display: flex;
  margin-bottom: calc( var(--general-spacing) / 2);
}

.meta .key{
  width: 33.33%;
  opacity: 0.75;
}

.meta .val{
  width: 66.66%;
  padding-left: 8px;
  font-weight: bold;
}

/*footer*/

#footer{
  width: 100%;
  height: 80px;
  background-color: rgba(0,0,0,1);
  z-index: 5;
}

/*some basic responsive stuff*/

@media (max-width: 1024px) {

  :root{
    --grid-total-columns: 8;
  }

  .pagehead{
    font-size: 64px;
  }

  .content-slice .col.project-intro{
  }

  .content-slice .col.project-media{
    grid-column: 4 / span 5;
    grid-row: 1;
  }

  .content-slice .col.project-text{
    grid-column: 4 / span 5;
    grid-row: 2 / span 2;
  }

  .content-slice .col.project-latest {
  }

  /*
  .content-slice .col.project-intro, .content-slice .col.project-media, .content-slice .col.project-text {
    grid-column: span calc( var(--grid-total-columns) / 2 );
  }

  .content-slice .col.project-media{
    grid-row: 2;
  }

  .content-slice .col.project-text{
    grid-row: 1 / 3;
  }
  */

}

@media (max-width: 768px) {

  :root{
    --grid-total-columns: 6;
    --nav-height: 90px;
  }

  .pagehead{
    font-size: 56px;
  }

  .uno{
    order: -1;
  }

  .dos{
    order: 1;
  }

  .content-slice .col.project-intro, .content-slice .col.project-media, .content-slice .col.project-text,  .content-slice .col.project-latest{
    grid-column: span var(--grid-total-columns);
    grid-row: auto;
  }

}

