  * {
    box-sizing: border-box;
  }

  :root {
  --nav-height: 80px;
  --display-font: 'Sora', sans-serif;
  /*--hero-bg: rgba(0,0,0,0.3);*/
  --general-spacing: 16px;
  }

  body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    background-color: rgba(0,0,0,0.3);
  }

  .lead{
    font-family: var(--display-font);
    font-weight: bold;
  }

  .centred{
    margin: auto;
    width: 100%;
    max-width: 1400px;
  }

/* nav stuff */

  nav {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,0);
    height: var(--nav-height);
    color: white;
    z-index: 100;
    
    /* Scroll-driven animation */
    animation: shrink-nav linear forwards;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  nav .centred{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: var(--general-spacing);
    height: 100%;
  }

  @keyframes shrink-nav {
    to {
      height: calc( var(--nav-height) / 2 );
      background-color: rgba(0,0,0,0.5);
    }
  }

  nav ul{
    display: flex;
    flex-direction: row;
    color: white;
  }

  nav ul li{
    padding-left: var(--general-spacing);
  }

  /* end nav stuff */

  /* hero stuff */

  .hero-container{
    display: grid;
    width: 100%;
    overflow: hidden;
    margin-top: calc( var(--nav-height) * -1 );
    padding-top: var(--nav-height);
    background-color: rgba(0, 0, 0, 0.3);
  }

  .hero{
    grid-area: 1 / 1;
    width: 100%;
    padding: var(--general-spacing);
  }

  .bg{
    opacity: 0.2;
  }

  .strap{
    font-weight: bold;
    font-size: 90px;
    text-transform: uppercase;
  }

  /* end hero stuff */

  /* content stuff */

  .content-container{
    width: 100%;
    background-color: white;
  }

  .content-grid {
    width: 100%;
    padding: var(--general-spacing);
  }

  .content-slice{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--general-spacing);
    margin-top: calc( var(--general-spacing) * 2 ) ;
  }

  .content-slice.threeone{
    grid-template-columns: 1fr 3fr;
  }

  .col {
    /*border: 1px solid black;*/
  }

  .footer{
    width: 100%;
    height: 80px;
    background-color: rgba(0,0,0,0.9);
  }

